body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    /* CENTER EVERYTHING */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#myButton {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 7px;

    color: white;
    background-color: rgb(127, 187, 255);
    border: none;
    cursor: pointer;

    /* this is the time IT TAKES to fade in*/
    transition: background-color 0.7s;

    &:hover {
        background-color: rgb(66, 145, 236);
    }
    &:active {
        background-color: rgb(2, 33, 68);
    }
}

#myLabel {
    /* display: block; */
    font-size: 10em;
    font-weight: bolder;
}







